proxmox_api_url          = "https://SEU IP DO PROXMOX:8006/api2/json"
proxmox_api_token_id     = "TOKEN ID DA API DO PROXMOX"
proxmox_api_token_secret = "TOKEN DA API DO PROXMOX"
target_node              = "O NOME DO NÓ NO PROXMOX"
ssh_public_key = "SUA CHAVE SSH PUBLICA"